<div class="w-max-screen pt-[50px]">
  <div class="bg-black w-[100%] py-10">
    <div class="flex flex row justify-center">
        <div>
            <div class="w-[450px] h-[450px]">
                <img src="./assets/chris.png">
            </div>
  
            <div class="mt-3 ml-5">
                <div class="flex flex-row items-center py-2">
                    <img src="./assets/github.svg" class="w-[35px] h-[35px] mr-3">
                    <p class="font-Inter font-regular text-white text-[1.5rem]">github.com/paranoid-android12</p>
                </div>
                <div class="flex flex-row items-center py-2">
                    <img src="./assets/mail.svg" class="w-[35px] h-[35px] mr-3">
                    <p class="font-Inter font-regular text-white text-[1.5rem]">202210139&#64;gordoncollege.edu.ph</p>
                </div>
                <div class="flex flex-row items-center py-2">
                    <img src="./assets/linkedin.svg" class="w-[35px] h-[35px] mr-3">
                    <p class="font-Inter font-regular text-white text-[1.5rem]">/in/chris-kirk-viacrusis/</p>
                </div>
            </div>
        </div>
        
        <div class="ml-10">
            <p class="font-Inter font-regular text-white text-[4rem] tracking-[0.8rem]">Kirk Viacrusis</p>
            <p class="font-IBMPlexSans font-regular text-white pl-10 text-[1.2rem] w-[560px] text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisi eros, sollicitudin id varius ut, lobortis id nibh. Vestibulum suscipit metus sagittis purus volutpat feugiat. Ut a elementum tellus. Curabitur id velit interdum, feugiat mi id, rutrum nunc. Curabitur nec pellentesque nulla. Proin accumsan nibh et laoreet dignissim. Nunc pretium tincidunt erat. Vestibulum nec nisl sit amet tortor luctus feugiat sed quis enim. Nam a magna et nunc consequat euismod in quis odio.</p>
            <p class="font-Inter font-regular text-white text-[4rem] tracking-[0.8rem]">Tech Stack</p>
            <div class="ml-10">
                <div class="flex flex-row items-center py-2">
                    <img src="./assets/react.svg" class="w-[55px] h-[55px] mr-5">
                    <p class="font-Inter font-regular text-white text-[2rem] tracking-[0.2rem]">React</p>
                </div>
                <div class="flex flex-row items-center py-2">
                    <img src="./assets/java.svg" class="w-[55px] h-[55px] mr-5">
                    <p class="font-Inter font-regular text-white text-[2rem] tracking-[0.2rem]">Java</p>
                </div>
                <div class="flex flex-row items-center py-2">
                    <img src="./assets/angular.svg" class="w-[55px] h-[55px] mr-5">
                    <p class="font-Inter font-regular text-white text-[2rem] tracking-[0.2rem]">Angular</p>
                </div>
            </div>
  
        </div>
    </div>
  </div>
  <div class="w-[100%] mt-1">
    <p class="font-Inter font-regular text-black text-[4rem] tracking-[1rem] text-center">PORTFOLIO</p>
    <div class="w-full h-[430px] flex justify-center">
        <img src="./assets/catlon.png">
    </div>

    <div class="w-full flex flex-col items-center">
      <hr class="my-10 border-[1.5px] border-slate-400 w-[90%] float-center">
    </div>

    <div class="w-full h-[434px] flex justify-center mb-10">
        <img src="./assets/shek.png">
    </div>
  </div>
  <div class="bg-black h-[80px] w-full">
  
  </div>
</div>
